header
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #480707
    min-height: 10vh
    padding: 0 30px
    .header-wrap
        display: flex
        align-items: center
        color: white
        img
            height: 80px
        h1
            margin-left: 30px
            font-size: 50px
    .header-links
        display: flex
        align-items: center
        width: 650px
        justify-content: space-between
        a
            text-decoration: none
            color: white
            font-size: 36px
            font-weight: 400
        .header-connect
            font-size: 36px
            font-weight: 400
            background-color: #993c35
            border-radius: 20px
            padding: 0 5px
        .modal-title
            color: red